FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=change-this-in-production
JWT_EXP_HOURS=12
DATABASE_URL=postgresql://neondb_owner:npg_Z0kg6OyFMlHv@ep-restless-moon-a1xtvrpx-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DEFAULT_ADMIN_NAME=System Admin
DEFAULT_ADMIN_EMAIL=admin@asset.local
DEFAULT_ADMIN_PASSWORD=Admin@123
AUTO_BOOTSTRAP_ADMIN=false
ADMIN_BOOTSTRAP_EMAIL=startwithsachin@gmail.com
ADMIN_BOOTSTRAP_PASSWORD=admin123